.unquinto {
    width: 20%;
    float: left;
}
.unQuarto{
    width: 25%;
    float: right;
}

.cappato {
    text-transform: uppercase;
}

.txtWhite {
    color: white;
}

.itemFasciaEta {
    width: 10%;
    min-width: 50px;
    float: left;
}

.itemNomeEvento {
    width: 65%;
    min-width: 200px;
    float: left;
}

.itemBadge {
    width: 25%;
    min-width: 150px;
    float: left;
}

.inclinata {
    transform: skew(-20deg, 0deg);
    -webkit-transform: skew(-20deg, 0deg);
    -o-transform: skew(-20deg, 0deg);
    -moz-transform: skew(-20deg, 0deg);
}